<header>
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
        FB.init({
        xfbml            : true,
        version          : 'v10.0'
        });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Career Advice Now</h1>
            <hr>
            <p>In need of advice?</p>
            <p>Contact us now via FB Messenger.</p>
            <p>A trained coach will text you back within 24 hours.</p>
        </div>
        <!-- Your Chat Plugin code -->
        <div class="fb-customerchat"
            attribution="setup_tool"
            page_id="106282061557484">
        </div>
    </div>
</header>
