<header>
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function() {
            FB.init({
            xfbml            : true,
            version          : 'v10.0'
            });
            };

            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

      <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
        attribution="setup_tool"
        page_id="106282061557484">
    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Get Career Advice, Now.</h1>
            <hr>
            <p>Frustrated? Perplexed? Undecided? Speak with a Career Advisor and feel better!</p>
            <a href="tel:413-341-4157" class="btn btn-primary btn-xl page-scroll">Call Now</a>
        </div>
    </div>
</header>
